<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>14.03.2021</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis iste praesentium, a voluptate dolor blanditiis fugit itaque error possimus animi distinctio libero atque, dicta nihil maiores cupiditate fugiat nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis iste praesentium, a voluptate dolor blanditiis fugit itaque error possimus animi distinctio libero atque, dicta nihil maiores cupiditate fugiat nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis iste praesentium, a voluptate dolor blanditiis fugit itaque error possimus animi distinctio libero atque, dicta nihil maiores cupiditate fugiat nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quis iste praesentium, a voluptate dolor blanditiis fugit itaque error possimus animi distinctio libero atque, dicta nihil maiores cupiditate fugiat nisi.</p>
    </div>
</div>